<div class="flex flex-col h-full">
  <div id="chat_body" class="grow p-4 h-full overflow-y-auto">
<!--    Aquí van los mensajes -->
  </div>
  <div class="flex mx-4 gap-6 py-5">
    <label for="input_message" class="display-none">message</label>
    <input class="grow" type="text" id="input_message">
    <button class="bg-blue-700 text-white font-bold rounded-lg p-3" id="sendButton" onclick="sendMessage()">Enviar</button>
  </div>
</div>